
<html>
  
    <body bgcolor="2B616D">
      <h3><font color="FF4447"> ERROR 403 </h3><br>

      <h1>
        <center>
          <font color="FA8D62"> Access Denied/Forbidden.
        </center>
      </h1>

      <h3>
        <center>
          <a href="{{url_for('hello_beer_world')}}">
            <font color="FA8D62"> Return to the Homepage
          </a>
        </center>
      </h3>

      <h2>
        <center>
          <font color="B2DBD5"> The page or resource you were trying to reach is absolutely forbidden for some reason.  
        </center> 
      </h2>
      <br>
      <center>
        <img src='/static/nobeer.jpg'>
      </center>
    </body>

</html>